<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog Newsletter</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 0;
          padding: 20px;
        }
        .container {
          max-width: 600px;
          margin: 0 auto;
          background-color: #eac3e3;
          padding: 20px;
          color: #1e5157;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Welcome to My Blog Newsletter!</h1>
    <p>
        You have successfully subscribed to our newsletter. <div/>
        Thank you for joining! Stay tuned for the latest updates, articles, and news from our blog.
    </p>
    <p>
        Best regards,<div/>
        Bartosz
    </p>
</div>
</body>
</html>

